$main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$main-color: #2c3e50;
$secondary-color: #1abc9c;
$hover-color: #1abc9ce6;
$tertiary-color: #1a252f;
$border: 1px #fff solid;
$bg-modal: #0d6efd40;
